# -------------------------------------------------------------------------------------
# Hugo 的标记语言相关配置
# 参见: https://gohugo.io/getting-started/configuration-markup/
# -------------------------------------------------------------------------------------

_merge = "shallow"

# 语法高亮 (https://gohugo.io/content-management/syntax-highlighting)
[highlight]
# ~~~~~~~~~~ necessary configurations ~~~~~~~~~~
# https://github.com/hugo-fixit/FixIt/issues/43
codeFences = true
noClasses = false
# ~~~~~~~~~~ necessary configurations ~~~~~~~~~~
anchorLineNos = false
guessSyntax = true
lineNos = true
lineNumbersInTable = true

# Goldmark 是从 Hugo 0.60 开始默认使用的 Markdown 库
[goldmark]
duplicateResourceFiles = false

[goldmark.extensions]
definitionList = true
footnote = true
linkify = true
linkifyProtocol = 'https'
strikethrough = false
table = true
taskList = true
typographer = true

# See: https://gohugo.io/configuration/markup/#extras
[goldmark.extensions.extras]

[goldmark.extensions.extras.delete]
enable = true

[goldmark.extensions.extras.insert]
enable = true

[goldmark.extensions.extras.mark]
enable = true

[goldmark.extensions.extras.subscript]
enable = true

[goldmark.extensions.extras.superscript]
enable = true

# https://gohugo.io/content-management/mathematics/
[goldmark.extensions.passthrough]
enable = true

[goldmark.extensions.passthrough.delimiters]
block = [
  [
    '\[',
    '\]'
  ],
  [
    '$$',
    '$$'
  ]
]
inline = [
  [
    '\(',
    '\)'
  ],
  [
    '$',
    '$'
  ]
]

[goldmark.parser]

[goldmark.parser.attribute]
block = true
title = true

[goldmark.renderer]
hardWraps = false
# whether to use HTML tags directly in the document
unsafe = true
xhtml = false
