{{- /* drop.template.svg */ -}}
<script
    charset="UTF-8"
    id="LA_COLLECT"
    src="//sdk.51.la/js-sdk-pro.min.js"
></script>
<script>
    LA.init({
        id: "Jfr8naJI249r4uyk",
        ck: "Jfr8naJI249r4uyk",
        autoTrack: true,
    });
</script>
<link rel="preload" as="script" href="https://unpkg.com/@swup/head-plugin@2" />
<link
    rel="preload"
    as="script"
    href="https://unpkg.com/@swup/preload-plugin@3"
/>
<link
    rel="preload"
    as="script"
    href="https://unpkg.com/@swup/progress-plugin@3"
/>
<link rel="preload" as="script" href="https://unpkg.com/swup@4" />
